
<div class="w-8/12 flex justify-center">
    <form>
      <div class="space-y-12">
        
  
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-3xl font-bold  text-gray-900">
            Loan For Ramesh
          </h2>
          
  
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-2">
              
              <label
                for="loan-amount"
                class="block text-sm/6 font-medium text-gray-900"
                >Loan Amount
              </label>
              <div class="mt-2">
                <input
                  type="number"
                  name="loan-amount"
                  id="loan-amount"
                  [(ngModel)]="LoanForm.LoanAmount"
                  autocomplete="50000"
                  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                />
              </div>
            </div>
       
            <div class="sm:col-span-2 sm:col-start-1">
              
              <label
                for="tenure"
                class="block text-sm/6 font-medium text-gray-900"
                >Tenure
              </label>
              <div class="mt-2">
                <input
                  type="number"
                  name="tenure"
                  id="tenure"
                  [(ngModel)]="LoanForm.Tenure"
                  autocomplete="12"
                  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                />
              </div>
            </div>
            
            
  
            <div class="sm:col-span-2">
                <div class="mb-4">
                    <label for="tenure-type" class="block text-sm font-medium text-gray-700 mb-1">
                      Tenure Type
                    </label>
                    <select id="tenure-type" name="tenure-type"
                        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-sm"
                        [(ngModel)]="LoanForm.TenureType"
                        autocomplete="month"    
                    >   
                        <option *ngFor="let item of periodUnit" value="{{item.value}}">{{item.Title}}</option>
                    </select>
                  </div>
            </div>
  
            <div class="sm:col-span-2 sm:col-start-1">
              
                <label
                  for="rate-of-interest"
                  class="block text-sm/6 font-medium text-gray-900"
                  >Rate Of Interest
                </label>
                <div class="mt-2">
                  <input
                    type="number"
                    name="rate-of-interest"
                    id="rate-of-interest"
                    [(ngModel)]="LoanForm.RateOfInterest"
                    autocomplete="3"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                  />
                </div>
              </div>
              
              
    
              <div class="sm:col-span-2">
                  <div class="mb-4">
                      <label for="rate-of-interest-type" class="block text-sm font-medium text-gray-700 mb-1">
                        Rate of Interest Type
                      </label>
                      <select id="rate-of-interest-type" name="tenureType"
                          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-sm"
                        [(ngModel)]="LoanForm.RateOfInterestType"
                        autocomplete="month"
                        >
                          <option *ngFor="let item of periodUnit" value="{{item.value}}">{{item.Title}}</option>
                      </select>
                    </div>
              </div>
              <div class="sm:col-span-2">
                  <div class="mb-4">
                      <label for="calculation-type" class="block text-sm font-medium text-gray-700 mb-1">
                        Calculation Type
                      </label>
                      <select id="calculation-type" name="tenureType"
                          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-sm"
                        [(ngModel)]="LoanForm.CalculationType"
                        autocomplete="flat"
                        >
                          <option *ngFor="let item of calculationType" value="{{item.value}}">{{item.Title}}</option>
                      </select>
                    </div>
              </div>
              <div class="sm:col-span-2 sm:col-start-1">
              
                <label
                  for="loan-date"
                  class="block text-sm/6 font-medium text-gray-900"
                  >Loan Date
                </label>
                <div class="mt-2">
                  <input
                    type="date"
                    name="loan-date"
                    id="loan-date"
                    [(ngModel)]="LoanForm.LoanDate"
                    autocomplete="3"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                  />
                </div>
              </div>
              <div class="sm:col-span-2 ">
                <label
                  for="EMI-date"
                  class="block text-sm/6 font-medium text-gray-900"
                  >EMI Date
                </label>
                <div class="mt-2">
                  <input
                    type="date"
                    name="EMI-date"
                    id="EMI-date"
                    [(ngModel)]="LoanForm.EMIDate"
                    autocomplete="3"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                  />
                </div>
              </div>
                        
            </div>
          </div>
        </div>
  
       
  
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" class="text-sm/6 font-semibold text-gray-900">
          Cancel
        </button>
        <button
          type="submit"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          (click)="SubmitData()"      
          >
          Save
        </button>
      </div>
    </form>
  </div>

  <div class="w-8/12 flex justify-center">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 px-4 text-left text-sm font-semibold text-gray-900">Sr.</th>
                <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Emi Amount</th>
                <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Principal</th>
                <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Interest</th>
                <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Emi Date</th>
                <th scope="col" class="px-4 py-3.5 text-right text-sm font-semibold text-gray-900">Actions</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white text-sm text-gray-700">
              <tr *ngFor="let item of schedule ; index as i">
                <td class="whitespace-nowrap px-4 py-4 font-medium text-gray-900">{{i+1}}</td>
                <td class="whitespace-nowrap px-4 py-4">{{item.emi}}</td>
                <td class="whitespace-nowrap px-4 py-4">{{item.principal}}</td>
                <td class="whitespace-nowrap px-4 py-4">{{item.interest}}</td>
                <td class="whitespace-nowrap px-4 py-4">{{item.EmiDate | mysqlDate:'%d-%b-%Y'}}</td>
                <td class="whitespace-nowrap px-4 py-4 text-right">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                </td>
              </tr>
              <!-- Copy more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  
  
  
  